doctype html
html(lang="ru", ng-app="QSTest")
  head
    meta(content="text/html" charset="utf-8" http-equiv="Content-Type")
    title Тестовое задание для Qualium Systems

    //- JQuery
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
        
    //- Bootstrap
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

    link(rel="stylesheet" href="css/app.css")

  body
    a(href="http://unitedcountry.com.ua/" class="ribbon" style="position: absolute; left:0; top:0; width: 90px; height: 90px; background: url('http://qualium-systems.com.ua/wp-content/themes/qs_ua/images/site/ukraine.png'); z-index: 2013; border: 0;" title="Розмісти стрічку за Єдину Україну на своєму сайті!" target="_blank")
    .container.mycont
      .page-header
        h1 Тестовое задание для Qualium Systems
        p.lead Вакансия 
          span.text-success JavaScript developer
      .row
        .col-lg-3
        .col-lg-6
          h3 Ошибка во время регистрации нового пользователя
          p Введенное имя пользователя уже существует
        .col-lg-3

